[submodule "Libs/Ace3"]
	path = Libs/Ace3
	url = https://github.com/WoWUIDev/Ace3.git
[submodule "Libs/CraftLib"]
	path = Libs/CraftLib
	url = git@github.com:kaldown/CraftLib.git
[submodule "Libs/LibDBIcon-1.0"]
	path = Libs/LibDBIcon-1.0
	url = git@github.com:kaldown/LibDBIcon-1.0.git
[submodule "Libs/LibDataBroker-1.1"]
	path = Libs/LibDataBroker-1.1
	url = git@github.com:kaldown/LibDataBroker-1.1.git
